/* app/about/about.module.css */
.h1 {
    margin: 0 0 15px 0;
    color: #88807B;
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}
.container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}
.backButton {
  padding: 10px 20px;
  background-color: #fde4e4;
  border-radius: 50px;
  text-decoration: none;
  color: #d1984;
  font-weight: bold;
}
.title {
  text-align: center;
  font-size: 48px;
  margin: 40px 0;
}
.content {
  margin-top: 40px;
    padding: 0 25px;
    text-align: justify;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    flex: 1; 
}
/* Add this to app/about/about.module.css */
.foundersNote {
   background-color: #fdf2e4;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 1px dashed #ECDCC2;
}

.foundersNote h2 {
  color: #7a8b40; /* The green color from your screenshot */
  margin-top: 0;
}