@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
}

@layer components {
  .main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 80px;
    border-radius: 200px;
    background-color: #ECDCC2;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 5px #999;
    border: none;
  }

  .main-btn:hover {
    box-shadow: none;
    transform: scale(1.02);
  }

  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
  }

  .google-btn {
    background: conic-gradient(#4285F4 0deg 90deg, #34A853 90deg 180deg, #FBBC05 180deg 270deg, #EA4335 270deg 360deg);
  }

  .waze-btn {
    background: linear-gradient(135deg, #33CCFF 0%, #2DB5E3 100%);
  }
}

@media (max-width: 600px) {
  .main-btn {
    width: 80vw !important;
    height: 60px !important;
    font-size: 16px !important;
  }
}